<div class="col-sm-12" *ngIf="new">
  <form #editnew="ngForm" (ngSubmit)="updateNew()">
    <div class="form-group">
      <label>Select Category</label>
      <select class="form-control" [(ngModel)]="new.news.category_id" name="category_id">
        <option *ngFor="let item of category" [selected]="item.id==new.news.category_id" value="{{item.id}}">{{item.name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label >Title </label>
      <input type="text" required class="form-control" [(ngModel)]="new.news.title" name="title"  value="{{new.news.title}}">
    </div>
    <!-- <span class="text-danger">Title is not required</span> -->
    <div class="form-group">
      <label for="exampleFormControlFile1">Image</label><br>
      <img class="img-thumbnail" with="100%" [src]="src || 'https://firebasestorage.googleapis.com/v0/b/api-firebase-b7ff2.appspot.com/o/imgupload%2F'+new.news.img+'?alt=media&token=e9b70b89-ddbf-4b51-9c19-a2b75c7cd38d'" alt="">
      <input type="file"  class="form-control-file" (change)=onSelectImg($event)>
    </div>
    <div class="form-group">
      <label>Content</label>
      <ckeditor [editor]="Editor" [(ngModel)]="new.news.content" name="content" required data="{{new.news.content}}"></ckeditor>
    </div>
    <!-- <span class="text-danger">Content is not required !</span> -->
    <button type="submit" class="btn btn-primary">Save</button>
    <br>
    <button class="back btn-outline-success" (click)="goBack()" href="">Go back</button>
    <br>
  </form>
</div>
