p{
    font-size: 20px;
    padding-top: 30px;
}
#btn-save{
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(55, 55, 197);
    color: white;
    border: rgb(55, 55, 197);
    padding: 10px;
}
input{
    width: 50%
}
