<div class="container" style="margin-top:30px">
  <button id="back" class="btn btn-outline-success" (click)="goBack()">Go back</button>
  <div class="row">
    <div *ngFor="let new of news" class="col-sm-12">
      <h3><a routerLink="/admin/news/detail/{{new.news.id}}">{{new.news.title}}</a></h3>
      <p>{{new.news.created_at}}</p>
      <p>by: {{new.author}} <span class="badge badge-primary">{{new.category}}</span></p>
      <img class="img-fluid" width="55px" height="30px"
        src="https://firebasestorage.googleapis.com/v0/b/api-firebase-b7ff2.appspot.com/o/imgupload%2F{{new.news.img}}?alt=media"
        alt="">
      <!-- <img class="img-fluid" width="55px" height="30px" src="../style/img/{{new.news.img}}" alt=""> -->
      <div class="contents">{{new.news.content}}</div>
      <button routerLink='/admin/news/edit/{{new.news.id}}' class="btn btn-outline-success" id="editnew"
        href="">Edit</button>
      <button (click)="delete(new.news.id)" class="btn btn-outline-danger">Delete</button>
      <hr>
    </div>
    <div 
    infiniteScroll 
    [infiniteScrollDistance]="2" 
    [infiniteScrollThrottle]="1000" 
    (scrolled)="onScroll()">
    </div>
    <div class="spinner-border text-primary" role="status" [hidden]="finished">
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="finished">
      End of database... That's all news!
    </div>
  </div>
</div>
