button{
    padding: 2px;
    margin-right: 15px;
}
#back{
    margin-bottom: 10px;
}

.contents{
    white-space: nowrap; 
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.spinner-border{
    margin-left: 450px;
    margin-top: 15px;
}
