<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex">
    <h1 id='Dashboard' class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a id="addnew" routerLink="/admin/news/add" class="btn btn-sm btn-primary "><i class="fas fa-upload fa-sm text-white-50"></i> Create New</a>
  </div>
  <!-- Content Row -->
  <router-outlet></router-outlet>
  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-6 mb-4">
    </div>
  </div>
</div>
