<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Search -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
          aria-label="Search" aria-describedby="basic-addon2" (keyup)=newMesages($event.target.value) >
        <div class="input-group-append">
          <button class="btn btn-primary" routerLink='/news/search' type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
      <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-search fa-fw"></i>
        </a>
      </li>
      <div class="topbar-divider d-none d-sm-block"></div>
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Settings
          </a>
          <button class="dropdown-item" href="#"data-toggle="modal" data-target="#changePasswordModal">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Change password
          </button>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- End of Topbar -->
  <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="changePassword" (ngSubmit)="submit()">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Current Password</label>
              <input type="password" formControlName="password" required>
            </div>
            <span class='text-danger' 
            *ngIf="changePassword.get('password').hasError('required')
            && changePassword.get('password')?.touched
            ">Password is required !</span>
            <span class="text-danger"
            *ngIf="changePassword.get('password').hasError('minlength')"
            >Password at least 6 characters !</span>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">New Password</label>
              <input type="password" formControlName="newpassword" required>
            </div>
            <span class='text-danger' 
            *ngIf="changePassword.get('newpassword').hasError('required')
            && changePassword.get('newpassword')?.touched
            ">New Password is required !</span>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Re-Enter New Password</label>
              <input type="password" formControlName="renewpassword" required>
            </div>
            <span class='text-danger'
             *ngIf="changePassword.get('renewpassword').hasError('required')
             && changePassword.get('renewpassword')?.touched
             ">Re-New Password is required!</span>
             <span class="text-danger" *ngIf="error">{{error}}</span>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="!changePassword.valid" class="btn btn-primary">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>