<div id="login">
  <section class="login-wrap mtb-40">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="login-box">
            <h1>Administrator Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
              <div class="form-group">
                <input type="text" formControlName="email" class="form-control" placeholder="Email" required>
                  <div class="errorlogin" *ngIf="loginForm.get('email').hasError('required')&&loginForm.get('email')?.touched">
                    Username is required.
                  </div>
              </div>
              <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
                  <div class="errorlogin" *ngIf="loginForm.get('password').hasError('required')&&loginForm.get('password')?.touched">
                    Password is required.
                  </div>
              </div>
              <div class="text-danger" *ngIf="error" >
                {{error}}
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="!loginForm.valid && submitted" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Log In
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
