<div class="col-sm-12" *ngIf="new">
  <h2>{{new.news.title}}</h2>
  <p>{{new.news.created_at}}</p>
  <img  class="img-thumbnail" width="100%" src="https://firebasestorage.googleapis.com/v0/b/api-firebase-b7ff2.appspot.com/o/imgupload%2F{{new.news.img}}?alt=media&token=e9b70b89-ddbf-4b51-9c19-a2b75c7cd38d" alt="">
  <p id="content">{{new.news.content}}</p>
  <p id="author">by  {{new.author}}</p>
  <button class="back btn-outline-success" (click)="goBack()" href="">Go back</button>
  <br>
</div>
