<div class="col-sm-12">
  <form #addnew="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Select Category</label>
      <select required #category_id="ngModel" [(ngModel)]="form.category_id" class="form-control"  name="category_id">
        <option *ngFor="let item of category" value="{{item.id}}">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label >Title</label>
      <input type="text" #title="ngModel"  required class="form-control" [(ngModel)]="form.title" name='title'>
    </div>
    <span class="text-danger" [class.d-none]="title.valid||title.untouched">Title is not required</span>
    <div class="form-group">
      <label for="exampleFormControlFile1">Image</label><br>
      <img *ngIf="src" class="img-thumbnail" width="100%" [src]="src" alt="">
      <input type="file" name="img" (change)="onSelectFile($event)" class="form-control-file" >
    </div>
    <div class="form-group">
      <label>Content</label>
      <ckeditor [editor]="Editor" name='content' #content='ngModel' required data="" [(ngModel)]="form.content"></ckeditor>
    </div>
    <span class="text-danger" [class.d-none]="content.valid||content.untouched" >Content is not required</span>
    <br>
    <button [disabled]="addnew.form.invalid" type="submit" (click)="addNew()" class="btn btn-primary">Save</button>
  </form>
  <br>
  <button class="back btn-outline-success" (click)="goBack()" href="">Go back</button>
  <br>
</div>
