<button id="addcategory" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-primary "><i class="fas fa-upload fa-sm text-white-50"></i> Create Category</button>
<div class="container">
  <div class="row">
    <div class="card col-lg-4" *ngFor="let item of categories" >
      <div class="card-body">
        <a id='cate_name' routerLink="/admin/categories/news/{{item.id}}" class="card-title">{{item.name}}</a>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
        <button  data-toggle="modal" (click)="get(item.id)" data-target="#editModal" class="btn btn-outline-success editcategory" href="">Edit</button>
      <button (click)="remove(item.id)" class="btn btn-outline-danger deletecategory" >Delete</button>
      </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name Category</label>
              <input type="text" class="form-control"  #name [value]='category.name' >
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="addCategory(name.value)" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
          <button type="button" class="close" #closemodal data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name Category</label>
              <input type="text" class="form-control" [(ngModel)]="category.name" #nameEdit [value]="category.name">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="edit(category.id)" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
</div>