<!-- Page Wrapper -->
<div *ngIf="checkLogin">
  <div id="wrapper" class="row">
    <!-- Content Wrapper -->
    <div class="col-lg-2">
      <app-sidebar></app-sidebar>
    </div>
    <div id="content-wrapper" class="col-lg-10 d-flex flex-column">
      <!-- Main Content -->
      <app-top></app-top>
      <app-content></app-content>
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" (click)="logout()" href="/login">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-login *ngIf="!checkLogin"></app-login>
